@{
    ViewData["Title"] = "Strona główna";
}


<h1 class="mt-4">NDManager</h1>
<p>Aplikacja do zarządzania płatnościami z przedszkole.</p>
<div class="row">
    <img class="img-fluid w-50 align-content-center" src="kidsWallpaper.jpg"/>
</div>
